<form method="POST" action="/characters/create">
    <label for="name">Name of Character: </label><input = type="text" name="name" id="name" required />
    <label>Occupation: </label><input type="text" name="occupation" id="occupation" required />
    <label>Weapon: </label><input type="text" name="weapon" id="weapon" required />
    <label>Debt: </label><input type="checkbox" name="debt" id="debt" required/>
    <button type="submit">Submit</button>
</form>